/*add Roboto and Shrikhand font*/
@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Shrikhand&display=swap");
/*add font-awesome*/
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css");

/*set font-environment*/
$roboto: "Roboto";
$shrikhand: "Shrikhand";
$fontawesome: "FontAwesome";

$primary-color: #9356DC;
$secondary-color: #FF79DA;
$tertiary-color: #99E2D0;