$roboto: Roboto;
$shrikhand: Shrikhand;
$fontawesome: FontAwesome;

$primary-color: #9356DC;
$secondary-color: #FF79DA;
$tertiary-color: #99E2D0;
$light-gray-color:#f7f7f7;
$dark-gray-color: #eaeaea;
$white-color: #ffffff;

