.place {
    @include flex-center;
    background-color: $dark-gray-color;
    &__icon {
        @include icon;
    }
}
.bookmenu {
    @include flex-center;
    @include flex-column;
    background-color: $light-gray-color;
    padding-top: 15px;
    padding-bottom: 60px;
    text-align: center;
    h4 {
        line-height: 26px;
    }
    a {
        color: white;
    }
}

.selection {
    &__container {
        padding: 15px;
    }
    &__block {
        @include flex-center;
        flex-direction: column;
        width: 100%;
        gap: 15px;
        @include mobile-320 {
            padding: 15px;         
        }
        @include tablet-view {
            padding-top: 30px;
            display: flex;
            gap: 20px;
            flex-direction: row;
        } 
        @include desktop-view {
            gap: 35px;
            padding-top: 30px;
            @include flex-center;
            flex-direction: row;
        }  

    }
    &__card {
        background-color: #f7f7f7;
        border-radius: 20px;
        box-shadow: 0px 4px 10px 5px rgba(0, 0, 0, 0.13);
        min-width: 200px;
        width: 255px;
        &:hover {
            i {
                color: $primary-color;
            }                       
        }
        @include mobile-horizontal {
            width: 350px;
        }
        @include desktop-view {
            width: max-content;
        }
        &-number {
            background-color: $primary-color;
            color: white;
            border-radius: 50%;
            position: absolute;
            @include mobile-320 {
                padding: 5px;
                transform: translate(-50%, 35%);
            }
            @include mobile-view {
                padding: 6px;
                transform: translate(-50%, 35%);
            }
            @include mobile-horizontal {
                padding: 7px;
                transform: translate(-40%, 48%);
            }
            @include tablet-view {
                padding: 7px;
                transform: translate(-40%, 30%);
            }
            @include desktop-view {
                padding: 10px;
                transform: translate(-40%, 30%);
            }
        }
        &-details {
            @include flex-start;
            @include tablet-view {
                margin: 0px;
            }
            @include mobile-horizontal {
                margin-left: 30.5px;                
            }
            @include desktop-view {
                margin-left: 30.5px;                
            }
        }
        &-icon {
            width: 10px;
            font-size: 24px;
            color: darken($light-gray-color, 30%);
            @include mobile-320 {
                padding-left: 18px;
                font-size: 16px;
            }
            @include mobile-view {
                padding-left: 23px;
                font-size: 20px;
            }
            @include tablet-view {
                padding-left: 20px;
            }
        }
        &-text {
            padding-left: 28px;
            padding-right: 10px;
            @include mobile-view {
                padding-left: 37px;
                h3 {
                    font-size: 18px;
                }
            }
            @include tablet-view {
                padding-left: 37px;
                padding-right: 0px;
                h3 {
                    font-size: 17px;
                }
            }
            @include desktop-view {
                padding-left: 25px;
                padding-right: 25px;
            }
            @include mobile-320 {
                h3 {
                    font-size: 15px;
                }
            }
        }
                
    }
}

.restaurant {
    padding-top: 10px;
    &__container {
        background: #F2F2F2;
        padding: 25px 20px 0 20px;
        position: relative;
    }
    &__row {
        display: flex;
        gap: 30px;
        flex-wrap: wrap;
        padding: 20px 20px 100px 20px;
        @include mobile-view {
            @include flex-column;
        }
        @include mobile-horizontal {
            @include flex-column;
        }
        @include tablet-view {
            @include flex-row;
            @include flex-center;
        }
        @include desktop-view {
            @include flex-row;
            @include flex-center;
        }
    }
    &__desc {
        box-shadow: 2px 2px 2px 2px #d9d9d9;
        border-radius: 20px;
        background: white;
        flex: 1 0 300px;
        &-img {
            position: relative;
            @include mobile-320 {
                height: 200px;
            }
            @include mobile-view {
                height: 250px;
            }
            @include mobile-horizontal {
                height: 280px;
            }
            @include tablet-view {
                height: 300px;
            }
            @include desktop-view {
                height: 320px;
            }
            img {
                width: 100%;
                border-radius: 20px 20px 0 0;
                object-fit: cover;
                height: 100%;   
            }
            span {
                position: absolute;
                left: auto;
                right: 20px;
                top: 30px;
                bottom: auto;
                font-size: 20px;
                font-weight: 600;
                padding: 10px;
                background-color: $tertiary-color;
                color: darken($tertiary-color, 35%);
                width: 70px;
                height: 45px;
                margin: auto;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 12%;
            } 
        }
        
        &-details {
            display: flex;
            line-height: 2.5px;
            padding-left: 15px;
            justify-content: space-between;
            padding-right: 19px;
            padding-top: 10px;
        }
        &-info {
            @include mobile-320 {
                h3 {
                    font-size: 18px;
                }
                h4 {
                    font-size: 16px;
                }
            }
            @include mobile-view {
                h3 {
                    font-size: 18px;
                }
                h4 {
                    font-size: 17px;
                }
            }
        }
        &-icon {
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 27px;
            color: white;
            -webkit-text-stroke: 1px black;
            cursor: pointer;
            @include mobile-320 {
                font-size: 22px;
            }
            &:hover {
                -webkit-text-stroke: 1px transparent;
                background: linear-gradient(to bottom right, $secondary-color, $primary-color);
                -webkit-background-clip: text;
                color: transparent;
                transition: all 600ms;
            }
        }   
        a {
            &:hover {
                color: $primary-color;
            }
        }
    }
}
