.btn {
    border-radius: 45%;
    padding: 18px;
    border-radius: 100px;
    height: 55px;
    padding: 18px;
    border: none;
    transition: all 600ms;
    outline: none;
    cursor: pointer;
    font-size: 20px;
    box-shadow: 0px 4px 10px 5px rgba(0, 0, 0, 0.13);
    background-image: linear-gradient(to bottom right, #FF79DA 10%, #9356DC 153%);
    &--bkmenu {
        width: 282px;
        height: 70px;
    }
    &--order {
        width: 250px;
        height: 70px;
    }
}
