.btn {
    border-radius: 45%;
    padding: 18px;
    border-radius: 100px;
    height: 55px;
    padding: 18px;
    border: none;
    transition: all 600ms;
    outline: none;
    cursor: pointer;
    font-size: 20px;
    box-shadow: 0px 4px 10px 5px rgba(0, 0, 0, 0.13);
    background-image: linear-gradient(to bottom right, $secondary-color 10%, $primary-color 153%);
    &--bkmenu {
        width: 282px;
        height: 70px;
        &:hover {
            background-image: linear-gradient(to bottom right,lighten($secondary-color,10%) , lighten($primary-color,10%));
            box-shadow: 0px 4px 10px 5px rgba(0, 0, 0, 0.18); 
        }
    }
    &--order {
        width: 250px;
        height: 70px;
        &:hover {
            background-image: linear-gradient(to bottom right,lighten($secondary-color,10%) , lighten($primary-color,10%));
            box-shadow: 0px 4px 10px 5px rgba(0, 0, 0, 0.18); 
        }
    }
}
